/* Global Overrides aka Dave's recommended hacks */

/** {
    box-sizing: border-box;
}*/

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}

/* Body */

body {
	background: url(../images/coworking.jpg) no-repeat;
}

/*Temporary boxen for everything!*/
.create-profile, .start, footer {
	border: 3px solid black;
}

/* Header */
header {
	background-color: #3b3a3a;
	color: #ffffff;
	width: 100%;
	height: auto;
	margin: 0;
	border-bottom: 5px solid #fbd334;
}
header h1 {
	font-family: Merriweather;
	font-weight: 700;
	display: inline-block;
	margin-left: 1em;
}
nav {
	float: right;
	margin: 2em 4em;
}
nav ul, nav li {
	display: inline-block;
	margin: 0;
}
nav a {
	font-family: Oswald;
	font-weight: 300;
	color: #ffffff;
	text-decoration: none;
	margin-right: 1.25em;
}
nav .bold {
	font-weight: 700;
	text-transform: uppercase;
}

/*Motto*/
.motto {
	background-color: #e1ebe6;
	text-align: center;
	font-family: Merriweather;
	font-weight: 700;
	font-style: italic;
	border: 1px solid #aaaaaa;
	clear: left;
}